<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        p, a, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', Verdana ;}
        h1{ font-size: 30px ;}
        h2{ font-size: 25px ;}
        h3{ font-size: 18px ;}
        h4{ font-size: 16px ;}
        p, a{font-size: 15px ;}

        .classBottom{
            width: 30%;
                background-color: #f9d28b;
                border: 2px solid #f9d28b;
                color: black; 
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
        }
        .classBottom:hover{
            background-color: #000000;
            color: #ffffff;
        }
        .img{
            width: 20px;
            height: 20px;
        }
        .contA{
            margin: 0px 5px 0 5px;
        }
        .afooter{
            color: #ffffff !important; 
            text-decoration: none;
            font-size: 13px !important;
        }
    </style>
</head>
<body>
    <div style="width: 100%; background-color: #e3e3e3;">
        <div style="padding: 20px 10px 20px 10px;">
            <!-- initial header -->
            {{>header}}
            <!-- ending header -->
            <!-- main content -->
            <div style="background-color: #ffffff; padding: 20px 0px 20px 0px; width: 100%;">
                <div style="text-align: center;">
                    <h1>{{tittle}}</h1>
                </div>
                <div style="padding: 0px 30px 0px 30px;">
                    <p style="font-weight: bold;">{{name}}</p>
                    <br>
                    <p>{{message}}</p>
                    <br>
                </div>
                <div style="text-align: center;">
                    <p>Thanks for you time</p>
                    <p style="margin-bottom: 50px;"><i>Mindfully</i><br>Team Marlov</p>
            
                    <!-- Botón -->
                    <a class="classBottom" href="https://www.linkedin.com/in/ronnymarca20/">MARLOV</a>
                </div>
            </div>
            <!-- Main content -->

            <!-- inital Footer -->
             {{>footer}}
            <!--ending Footer -->
        </div>
    </div>
</body>
</html>