<footer>
    <div style="background-color: #282828; color: #ffffff; padding: 5px 0px 0px 0px; width: 100%; text-align: center;">
        <!-- Redes sociales -->
        <a href="https://www.facebook.com/rofmartinez" class="contA"><img src="cid:fb" class="img" /></a>
        <a href="https://www.instagram.com/ronny.marca/" class="contA"><img src="cid:ig" class="img" /></a>
        <a href="https://api.whatsapp.com/send?phone=+16132630593&text=Welcome+to+Marlov%27s+Customer." class="contA"><img src="cid:wapp" class="img" /></a>
        <a href="mailto:ronnymarca81@gmail.com" class="contA"><img src="cid:em" class="img" /></a>
        <!-- social media -->

        <h4>Support</h4>
        <p style="font-size: 13px; padding: 0px 20px 0px 20px;">
            Reach out with us by bellow ways:<br>
            email: <a class="afooter" href="mailto:info@marlov.com">info@marlov.com</a><br>
            Whatsapp: <a class="afooter" href="https://api.whatsapp.com/send?phone=+16132630593&text=Welcome+to+Marlov%27s+Customer.">+1 613 263 0593</a><br>
        </p>
        <p style="background-color: black; padding: 10px 0px 10px 0px; font-size: 12px !important;">
            © 2023 MARLOV, all rights reserved.
        </p>
    </div>
</footer>