<header>
    <div style="background-color: #000000; padding: 10px 0px 10px 0px; width: 100%; text-align: center;">
        <img src="cid:marlov" alt="" style="width: 300px; height: 60px;">
    </div>
</header>